

<h2>Create Post</h2>
<form method="post" action="/post"> 
    <input type="hidden" value="post">
    <input type="text" name="title">
    <input type="text" name="body">
    <button type="submit" name="_method" value="post">Create Post</button>
</form>