<h2>Дабавление монеты</h2>
<form method="post" action="/post"> 
	<select name="name">
    <option disabled>coin</option>
    <% @parse.parse.each do |line| %>
    <option name="name"><%= line['name'] %></option>
    <% end %>
   </select>
    <input type="hidden" value="post">
    <input type="text" name="number" placeholder="Колличество">
    <input type="text" name="price_by" placeholder="Цена при покупке">
    <button class="btn btn-primary" type="submit" name="_method" value="post">Готово</button>
</form>
