<table class="my_table table">
	<thead class="table_head">
	<tr>
		<td>#</td>
		<td>coin</td>
		<td>price</td>
	</tr>
	</thead>
<% @parse.parse.each do |line| %>
	<tr>
		<td><%= line['id'] %></td>
		<td><%= line['name'].capitalize %></td>
		<td><%= line['price'] %>$</td>
	</tr>
<% end %>
</table>