<!-- views/layout.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Sinatra Blog</title>
	 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="/style.css ">
	 <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
	 <link rel="shortcut icon" href="/img/favicon-32x32.png" type="image/png">
</head>
<body>
	<div class="header navbar navbar-expand flex-column flex-md-row bd-navbar">
 		<ul class="menu col-lg-6 navbar-nav bd-navbar-nav flex-row">
   		<li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
   		<% if @current_user %>
   		<li class="nav-item"><a class="nav-link" href="/posts/show">Портфель</a></li>
   		<li class="nav-item"><button type="button" id="my-btn-menu" class="my-btn-menu btn btn-primary" data-toggle="modal" data-target="#myModal">
  			Новая запись 
			</button></li>
		</ul>
   	<ul class="user col-lg-6 navbar-nav bd-navbar-nav flex-row">
   		<li class="nav-item"><a class="nav-link" href="/users/home"><%= 
   		@current_user.username %></a></li>
   		<li class="nav-item"><a class="nav-link" href="/sessions/logout">Log Out</a></li>
   	<% else %>
   </ul>
    <ul class="user col-lg-6 navbar-nav bd-navbar-nav flex-row">
 			<li class="nav-item"><button type="button" class="btn btn-primary my-btn-menu" data-toggle="modal" data-target="#myModal3">
  			Регистрация
			</button></li>
   		<li class="nav-item"><button type="button" class="btn btn-primary my-btn-menu" data-toggle="modal" data-target="#myModal2">
  			Вход 
			</button></li>
			<% end %>
			<li>
				<button id="submit" class="btn btn-pimary">Фон</button>
			</li>
			<li>
				<form class="form-search">
              <input class="search form-control place_for_search" placeholder="Поиск" type="text" id="text-to-find" value="" placeholder="Search" autofocus aria-label="Search">
             <!--<input class="fas fa-search button_for_turn_back" type="button" onclick="javascript: FindOnPage('text-to-find',false); return false;" value=" " title="Отменить поиск">-->
             <button input class="btn btn-sm btn-outline-secondary fas fa-times button_for_turn_back" type="button" onclick="javascript: FindOnPage('text-to-find',false); return false;" value=" " title="Отменить поиск">
             </button>
             <button class="btn btn-sm btn-outline-secondary fas fa-search button_for_search" type="submit" onclick="javascript: FindOnPage('text-to-find',true); return false;" value=" " title="Начать поиск">
             </button>
              <!--<input class="button_for_search" type="submit" onclick="javascript: FindOnPage('text-to-find',true); return false;" value=" " title="Начать поиск">-->
        </form>
			</li>
   	</ul>
	</div>
	
 <!-- Modal default -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Добаление новой записи</h4>
      </div>
      <div class="modal-body">
      	<form method="post" action="/post"> 
					<div class="input-group mb-3"><select class="form-control" name="name">
    				<option disabled>coin</option>
    				<% @parse.parse.each do |line| %>
    				<option name="name"><%= line['name'] %></option>
    				<% end %>
   				</select></div>
    			<input type="hidden" value="post">
    			<div class="input-group mb-3"><input class="form-control" type="text" name="number" placeholder="Колличество"></div>
    			<div class="input-group mb-3"><input class="form-control" type="text" name="price_by" placeholder="Цена при покупке"></div>
    			<button class="btn btn-primary" type="submit" name="_method" value="post">Добавить</button>
				</form>
     	</div>
    </div>
  </div>
</div>
<!-- Modal user LogIn -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Вход</h4>
      </div>
      <div class="modal-body">
      	<form method="post" action="/sessions"> 
    			<div class="input-group mb-3">
    				<input class="form-control" type="text" name="email" placeholder="email">
    			</div>
   			 	<div class="input-group mb-3">
   			 		<input class="form-control" type="password" name="password" placeholder="password">
   			 	</div>
    			<div class="input-group mb-3">
    				<button class="btn btn-primary" type="submit">Log in</button>
    			</div>
				</form>
     	</div>
    </div>
  </div>
</div>
<!-- Modal user SignUp -->
<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Регистрация</h4>
      </div>
      <div class="modal-body">
      	<form method="post" action="/registrations"> 
    				<input type="hidden" value="post">
    			<div class="input-group mb-3">
    				<input class="form-control" type="text" name="username" placeholder="name">
    			</div>
    			<div class="input-group mb-3">
    				<input class="form-control" type="text" name="email" placeholder="email">
    			</div>
    			<div class="input-group mb-3">
    				<input class="form-control" type="password" name="password" placeholder="password">
    			</div>
    <button class="btn btn-primary" type="submit" name="_method" value="post">Registration</button>
</form>
     	</div>
    </div>
  </div>
</div>
<div class="container col-12 col-xl-10">
	<div class="div-top">
 <%= yield %>
</div>
</div>
<script src="/js/js.js"></script>
</body>
</html>