.table td{
	width: 1px;
	text-align: left;
    padding: 20px 30px;
}
$color-alert-modal: #FFF;
$bg-danger-modal:   #d9534f;
$bg-warning-modal:  #f0ad4e;
$bg-info-modal:     #31708f;
$bg-success-modal:  #5cb85c;


.alert-modal {
  border:        0;
  box-shadow:    0 5px 15px rgba(0,0,0,0.25);
  color:         $color-alert-modal;
  
  .btn {
    border-color: transparent;
    background:   none;
    &:hover,
    &:focus {
      border:1px solid currentColor;
      background: none;
    }
  }
  
  .modal-footer,
  .modal-header {
    border:0;
  }
  
  // bg alerts
  &.alert-danger  { background: $bg-danger-modal;  }
  &.alert-info    { background: $bg-info-modal;    }
  &.alert-success { background: $bg-success-modal; }
  &.alert-warning { background: $bg-warning-modal; }
}

  
.table_head {
	background-color: rgba(0,0,0,0.3);
	border-radius: 20px;
	box-sizing: border-box;
}
.header {
	display: flex;
}
.menu {
	display: flex;
	list-style: none;
	margin: 0;
    padding: 10px 0;
    padding-left: 20px;
    width: 70%;
    justify-content: flex-start;
}
.user{
	display: flex;
	list-style: none;
	margin: 0;
	padding: 10px 0;
	padding-right: 20px;
	width: 30%;
	justify-content: flex-end;
}

.menu li, .user li{
	padding: 0 20px;
}

.menu a{
	color: #ffc450;
}

.menu a:hover{
	color: #f3b742;
}

.menu a, .user a {
	font-size: 18px;
	font-weight: 400;
    letter-spacing: 0.06em;
}