body{
  background-color: #eaeaea;
}
tr {
  background-color: white;
}
.table {
  margin-top: 100px;
  box-shadow: 2px 2px 10px rgba(134,134,134,0.5);
}
tr:hover{
  box-shadow: 2px -2px 10px rgba(134,134,134,0.5);
}
.table_head {
	background-color: rgba(0,0,0,0.3);
	border-radius: 20px;
	box-sizing: border-box;
}
.header {
  position: fixed;
  width: 100%;
	background-color: #464a4e;
  top: 0;
}
.user{
	justify-content: flex-end;
}
.my-btn-menu{
  color: #ffe484;
  background-color: #464a4e;
  border-color: #ffe484;
  cursor: pointer;
}
.my-btn-menu:hover{
  color: #464a4e;
  background-color: #ffe484;
}
.menu li, .user li{
	padding: 0 10px;
  line-height: 23px;
}

.header a{
  color: white;
}
.header a:hover{
  color: #ffe484;
}

.menu a, .user a {
	font-size: 1rem;
	font-weight: 400;
    letter-spacing: 0.06em;
}
@media (min-width: 768px){
  .container {
    width: 100%;
    margin: 0 auto;
  }
}
.form-search{
  padding-top: 4px;
  display: inline-flex;
}
.form-search button{
  margin-left: 5px;
}
.search{
  width: 150px;
  height: 30px;
}
.clicked {
    background-color: #ffe484;
}
.table_clicked{
  background-color: #464a4e;
}
.td_clicked td{
  color: white;
  border-color: #ffe484;
}