body{
  background-color: #eaeaea;
}
tr {
  background-color: ;
}
.modal-dialog{
  margin-top: 100px;
}
.succes {
  text-align: center;
    background-color: #42c74294;
    color: #464646;
    border-color: #54c5547a;
    border-width: 3px;
    font-weight: 700;
    font-size: 20px;
}
.notice {
  text-align: center;
    background-color: #ffe484;
    color: #464646;
    border-color: #ffdb59;
    border-width: 3px;
    font-weight: 700;
    font-size: 20px;
}
.warning {
  text-align: center;
    background-color: #ff4949d4;;
    color: #464646;
    border-color: #ff5555;;
    border-width: 3px;
    font-weight: 700;
    font-size: 20px;
}
.each tr{
  color: red;
}
.div-top{
  margin-top: 150px;
}
.table{
  margin-bottom: 0;
}
.b-table{
  overflow: hidden;
  border-radius: 15px;
  display: block;
  box-shadow: 2px 2px 10px rgba(134,134,134,0.5);
  background-color: white;
}
.b-table thead tr{
  background-color: #464a4e;
  color: white;
}
.table td{
  border-top: none;
  border-bottom: 1px solid #e9ecef;
  cursor: pointer;
}
.table tr:last-child td{
  border: none;
}
.my_table td{
  padding: 20px;
}
tr:hover{
  /*box-shadow: 2px -2px 10px rgba(134,134,134,0.5);*/
}
.table_head td{
  font-size: 15px;
}
thead {
  box-shadow: 0 2px 25px rgba(103, 103, 103, 1);
}
.table_tfoot tr{
  border-top: 1px solid #e9ecef;
}
.header {
  position: fixed;
  width: 100%;
	background-color: #464a4e;
  top: 0;
  z-index: 9999;
}
.user{
	justify-content: flex-end;
}
.my-btn-menu{
  color: #ffe484;
  background-color: #464a4e;
  border-color: #ffe484;
  cursor: pointer;
}
.my-btn-menu:hover{
  color: #464a4e;
  background-color: #ffe484;
}
.menu li, .user li{
	padding: 0 10px;
  line-height: 23px;
}

.header a{
  color: white;
}
.header a:hover{
  color: #ffe484;
}

.menu a, .user a {
	font-size: 1rem;
	font-weight: 400;
    letter-spacing: 0.06em;
}
.form-search{
  padding-top: 4px;
  display: inline-flex;
}
.form-search button{
  margin-left: 5px;
}
.search{
  width: 150px;
  height: 30px;
}
.clicked {
    background-color: #ffe484;
}
.table_clicked{
  background-color: #464a4e;
}
.td_clicked td{
  color: white;
  border-color: #ffe484;
}

.post_edit_icon{
  color: grey;
  cursor: pointer;
}
.post_edit_icon:hover{
  color: black;
}

@media screen and (max-width: 980px) {
  .gl-tab tbody tr td:nth-child(n+5){
    display: none;
  }
  .gl-tab thead tr td:nth-child(n+5){
    display: none;
  }
  .gl-tab tbody tr td:first-child{
    display: none;
  }
  .gl-tab thead tr td:first-child{
    display: none;
  }
  .my_table td {
    font-size: 40px;
  }
  .my_table{
    margin-bottom: 100px;
  }
}
